APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:s3j64Wsaz3WRgmQNtUa2Vpgd5ZlpGrlU4tOtlZRHgeE=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120